{% extends "base.html" %}

{% block title %} Welcome {% endblock %}

{% block content %}
    <h1>We are glad to welcome you here!</h1>

    <p>
        <!-- This is the message you were looking for! -->
    </p>
    
    <h2>Meetings</h2>
    <ul>
        {% for meeting in meetings %}
        <li>
            <a href= "{% url 'detail' meeting.id%}">
                {{ meeting.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'rooms' %}">Rooms list</a>

{% endblock %}
